In [1]:
import pandas as pd

In [2]:
busDf = df = pd.read_csv('bus.csv')

In [3]:
busDf.head()

,Unnamed: 0,SERVICE_DATE,PEAK_OFFPEAK_IND,ROUTE_TYPE,OTP_NUMERATOR,OTP_DENOMINATOR
0,1724,2016-03-09 00:00:00,"Peak Service (Weekdays 6:30-9:30AM, 3:30PM-6:3...",OTH,10.0,16.0
1,1725,2016-03-09 00:00:00,"Peak Service (Weekdays 6:30-9:30AM, 3:30PM-6:3...",OTH,222.0,332.0
2,1726,2016-03-09 00:00:00,"Peak Service (Weekdays 6:30-9:30AM, 3:30PM-6:3...",OTH,31.0,68.0
3,1727,2016-03-09 00:00:00,"Peak Service (Weekdays 6:30-9:30AM, 3:30PM-6:3...",OTH,24.0,44.0
4,1728,2016-03-09 00:00:00,"Peak Service (Weekdays 6:30-9:30AM, 3:30PM-6:3...",OTH,70.0,119.0

In [4]:
busDf.size

1213884

## Definitions of Reliability



### *Frequent Service (buses scheduled to come at least every 15 minutes)*

#### Frequent Buses are considered reliable when they leave a stop within 3 minutes of the scheduled interval. 

### *Infrequent Service (buses scheduled more than 15 minutes apart)*

#### Infrequent Buses are considered reliable when they leave a stop within 1 minute before and 6 minutes after the scheduled interval.