A CSV file containing cleaned Uber data can be found here: 

https://drive.google.com/file/d/1pWGv84eaEZF495H7HVwDOFHnLj66-Nbh/view?usp=sharing

In [1]:
import pandas as pd

In [28]:
uber = pd.read_csv('uber.csv')

In [29]:
uber.tail()

,Unnamed: 0,sourceid,dstid,hod,geometric_mean_travel_time,geometric_standard_deviation_travel_time
27587481,3421891,1247,1241,11,1200.51,1.27
27587482,3487721,1247,1241,23,1079.01,1.16
27587483,3751448,1247,1241,12,1152.71,1.25
27587484,4031201,1247,1241,0,971.66,1.37
27587485,1984866,1247,1242,7,1771.46,1.16

In [3]:
busDf = df = pd.read_csv('Datasets/MBTAReliability.csv')

In [26]:
busDf = busDf.loc[busDf['MODE_TYPE'] == 'Bus']
lines = busDf.ROUTE_OR_LINE.unique()
lines.tolist()
busDf.loc[(busDf['ROUTE_OR_LINE'] == '100') & (busDf['OTP_NUMERATOR']/busDf['OTP_DENOMINATOR'] < 0.25)]
uber.head()
timesDf = pd.read_csv("times.csv", names=["start", "stop", "time"])
timesDf.loc[(timesDf['start'] == 837)]

Empty DataFrame
Columns: [start, stop, time]
Index: []

In [4]:
uber = uber.sort_values(['sourceid', 'dstid'])

In [95]:
busDf.loc[(busDf['ROUTE_OR_LINE'] == '7') & (busDf['OTP_NUMERATOR']/busDf['OTP_DENOMINATOR'] < 0.49)]

,SERVICE_DATE,PEAK_OFFPEAK_IND,MODE_TYPE,ROUTE_OR_LINE,ROUTE_TYPE,STOP,METRIC_TYPE,OTP_NUMERATOR,OTP_DENOMINATOR
199752,3/11/17 0:00,Off-Peak Service (All Other Times),Bus,7,OTH,NaN,Headway / Schedule Adherence,109.0,225.0

In [39]:
uber.head()

,Unnamed: 0,sourceid,dstid,hod,geometric_mean_travel_time,geometric_standard_deviation_travel_time
0,37966,1,12,10,190.14,1.84
1,46433,1,12,1,268.45,1.75
2,173566,1,12,19,182.16,1.86
3,340456,1,12,23,172.17,1.98
4,566201,1,12,14,214.99,2.07

In [101]:
uber.loc[(uber['sourceid'] == 885) & (uber['dstid'] == 883)]

,Unnamed: 0,sourceid,dstid,hod,geometric_mean_travel_time,geometric_standard_deviation_travel_time
19723836,255963,885,883,7,151.27,1.86
19723837,266266,885,883,16,244.37,1.95
19723838,360548,885,883,2,194.00,2.13
19723839,392256,885,883,20,186.85,1.87
19723840,549465,885,883,11,179.49,1.85
19723841,839685,885,883,6,135.85,1.73
19723842,863161,885,883,15,223.72,1.90
19723843,944315,885,883,17,248.90,1.99
19723844,1153598,885,883,8,177.23,1.94
19723845,1203508,885,883,14,187.25,1.87
19723846,1329975,885,883,23,181.45,1.97
19723847,1416680,885,883,5,127.90,1.63
19723848,1481275,885,883,0,183.69,1.97
19723849,1576424,885,883,9,162.99,1.86
19723850,1704592,885,883,18,212.93,1.92
19723851,1777666,885,883,12,183.81,1.87
19723852,1818295,885,883,3,150.45,1.87
19723853,1856769,885,883,21,184.12,1.93
19723854,2069203,885,883,10,169.46,1.79
19723855,2199223,885,883,19,193.32,1.87
19723856,2304724,885,883,1,184.55,1.98
19723857,2427890,885,883,4,134.71,1.70
19723858,2593359,885,883,22,186.24,1.93
19723859,2601398,885,883,13,182.10,1.87
19723860,179193,885,883,2,194.07,2.16
19723861,179197,885,883,12,191.30,1.92
19723862,179201,885,883,22,188.02,1.97
19723863,478517,885,883,3,156.82,2.00
19723864,478526,885,883,13,190.24,1.92
19723865,478529,885,883,23,185.75,1.97
...,...,...,...,...,...,...
19723998,3042826,885,883,16,276.05,2.07
19723999,3042832,885,883,22,185.27,2.01
19724000,3704297,885,883,5,108.16,1.75
19724001,3704303,885,883,11,171.72,1.96
19724002,3704309,885,883,17,271.54,2.09
19724003,3704315,885,883,23,182.75,2.06
19724004,281329,885,883,18,211.52,1.98
19724005,294775,885,883,6,118.61,1.78
19724006,365226,885,883,10,153.40,1.91
19724007,632281,885,883,22,185.79,2.00
19724008,791116,885,883,20,186.07,1.94
19724009,995463,885,883,8,163.24,2.00
19724010,1192264,885,883,19,191.75,1.91
19724011,1308771,885,883,7,140.92,1.94
19724012,1425617,885,883,3,122.36,1.89
19724013,1673244,885,883,15,235.25,2.03
19724014,1808405,885,883,21,184.83,1.98
19724015,1821637,885,883,9,154.37,1.92
19724016,2326509,885,883,1,186.19,2.03
19724017,2331283,885,883,13,167.30,1.98
19724018,2404368,885,883,14,189.49,2.01
19724019,2443849,885,883,2,180.02,2.14
19724020,2780943,885,883,17,251.14,2.06
19724021,2989192,885,883,5,111.33,1.76
19724022,3144091,885,883,4,112.86,1.77
19724023,3348370,885,883,16,260.14,2.05
19724024,3563646,885,883,23,178.36,2.03
19724025,3675335,885,883,11,162.97,1.95
19724026,3739191,885,883,0,183.33,2.00
19724027,3744005,885,883,12,163.82,2.00

In [77]:
sources = uber.sourceid.unique()
dests = uber.dstid.unique()
#dests = uber['dstid']
#dests.unique()
#uber.loc[uber['dstid'] >= 1247]
#dests.loc[dests.unique() == 1247]
#1247 in dests
1246 in sources

True

In [84]:
def averageTravelTimes(sources, dests, dataset):
    fromtotimes = {}
    counter = 0
    for source in sources:
        sliced = dataset.loc[(dataset['sourceid'] == source)]
        for dest in dests:
            furthersliced = sliced.loc[(sliced['dstid'] == dest)]
            if len(furthersliced.index != 0):
                mean = furthersliced['geometric_mean_travel_time'].mean()
                fromtotimes[(source, dest)] = mean
                counter+=1
                if (counter % 5000) == 0:
                    print(source, dest, mean)
    return fromtotimes

In [83]:
uber.loc[(uber['sourceid'] == 837) & (uber['dstid'] == 588)]

,Unnamed: 0,sourceid,dstid,hod,geometric_mean_travel_time,geometric_standard_deviation_travel_time
17448516,25244,837,588,17,106.54,2.12
17448517,263451,837,588,8,106.04,2.49
17448518,393972,837,588,12,91.42,2.14
17448519,501558,837,588,3,79.73,2.37
17448520,559808,837,588,21,82.54,2.33
17448521,784332,837,588,7,108.67,2.51
17448522,813981,837,588,16,87.92,2.52
17448523,1068837,837,588,9,82.02,2.64
17448524,1096994,837,588,18,95.54,2.22
17448525,1142511,837,588,0,68.07,2.39
17448526,1317512,837,588,15,91.69,2.32
17448527,1400298,837,588,6,108.57,2.19
17448528,1555910,837,588,10,83.67,2.43
17448529,1610461,837,588,1,60.48,2.84
17448530,1615854,837,588,19,96.40,2.24
17448531,1779787,837,588,4,90.61,2.28
17448532,1880022,837,588,22,80.78,2.43
17448533,1966189,837,588,13,94.75,2.25
17448534,2106393,837,588,11,80.95,2.29
17448535,2271274,837,588,2,74.04,2.69
17448536,2292009,837,588,20,83.88,2.26
17448537,2426039,837,588,5,87.31,2.33
17448538,2512939,837,588,14,92.34,2.37
17448539,2622779,837,588,23,72.77,2.53
17448540,157544,837,588,3,73.76,2.46
17448541,157548,837,588,13,101.79,2.19
17448542,157553,837,588,23,76.79,2.65
17448543,456960,837,588,4,85.66,2.30
17448544,456964,837,588,14,97.01,2.42
17448545,689284,837,588,5,82.96,2.26
...,...,...,...,...,...,...
17448678,2997962,837,588,17,110.84,2.24
17448679,2997967,837,588,23,71.35,2.59
17448680,3659476,837,588,0,61.66,2.77
17448681,3659481,837,588,6,88.78,2.52
17448682,3659487,837,588,12,100.31,2.20
17448683,3659492,837,588,18,102.52,2.18
17448684,172070,837,588,1,59.93,2.83
17448685,245239,837,588,13,97.23,2.16
17448686,367051,837,588,17,107.27,2.28
17448687,439300,837,588,5,80.98,2.44
17448688,847501,837,588,15,97.56,2.21
17448689,918283,837,588,3,80.90,2.68
17448690,1216004,837,588,14,104.03,2.34
17448691,1274569,837,588,2,63.67,2.73
17448692,1459933,837,588,10,90.77,2.35
17448693,1497544,837,588,22,76.19,2.59
17448694,1719059,837,588,4,86.46,2.21
17448695,1953583,837,588,16,100.63,2.33
17448696,2311609,837,588,20,91.30,2.31
17448697,2331338,837,588,8,125.46,2.40
17448698,2586330,837,588,9,97.79,2.28
17448699,2673383,837,588,21,87.50,2.34
17448700,2820260,837,588,12,98.23,2.25
17448701,3009396,837,588,0,61.57,2.60
17448702,3110749,837,588,11,91.56,2.29
17448703,3370042,837,588,23,73.61,2.36
17448704,3631236,837,588,18,102.31,2.23
17448705,3644531,837,588,6,100.95,2.56
17448706,3894306,837,588,19,96.20,2.31
17448707,3945826,837,588,7,124.65,2.69

In [85]:
times = averageTravelTimes(sources, dests, uber)

28 335 1437.2644375
51 896 832.3657591623033
74 703 1111.0325
103 396 552.4605384615386
136 787 1433.2877235772362
155 406 1540.8142708333332
197 798 434.9667391304348
212 836 1296.684081632653
239 1030 921.7447619047617
253 470 2228.1201754385966
286 60 1978.0738709677414
301 1038 2068.685
329 878 989.7792187500003
362 1123 1475.8556684491975
391 311 898.7421428571432
420 316 842.8506806282729
442 427 1310.7316666666666
474 92 1762.24
497 45 2035.6657142857143
510 492 1672.2080000000003
534 1038 2022.3785393258433
584 911 1140.2632692307693
631 504 2250.041666666667
678 1022 823.7022727272725
722 1036 1263.7993251533742
758 883 1181.684479166667
774 915 1681.3025547445254
798 1189 2549.448518518519
818 1163 1685.2320481927711
834 495 1499.5423888888886
856 880 236.48281250000005
869 1227 835.9031770833338
881 503 714.0043229166668
888 713 633.6205729166666
903 297 964.8234374999996
927 719 1322.5235106382977
999 200 138.3086979166667
1013 596 2285.812331288343
1039 1024 707.1698437499996
1065 1179 2016.229081632653
1104 53 1641.2606194690266
1123 1163 1864.932291666667
1149 304 782.3772549019608
1178 294 282.0388020833334
1197 1153 2089.925853658536
1227 1178 946.6112500000005

In [100]:
times[(885, 883)]

186.0912500000001

In [102]:
timesSeries = pd.Series(times, name='Avg Geo Travel Time')

In [103]:
timesSeries.index.name = 'To From Pair'

In [104]:
timesSeries.reset_index()
timesSeries.to_csv('times.csv')

In [105]:
len(timesSeries)

234845

In [ ]:
zones_100 = ["837", "588", "838", "836", "203", "587"]
zones_7 = ["885", "883", "530", "425", "501"]